# *Functions and its Types:*

```
#what is function
syntax :
        **def fun(arg1,arg2):   # position ,default value ,keyword ,variable length
              statements
              ...
              ...
              ...
              return value**
***->two types of parameters 
        .formal parameters
        .actual parameters
    def fun(name,age):     #formal parameters
        //statements
    fun('pari',18)    #actual parameters
    fun(18,'pari') #not valid
    fun('pari')   # in this case by age is declared by default 
                        ie. fun(name,age=25)
    fun('c',10,20,30)
```

In [1]:
def fun(a):
    print(a)
fun('anits college')

anits college

In [2]:
def fun():
    a='Anits college'
    return a
fun()

'Anits college'

In [3]:
def fun(a):
    return a
fun('Anits')

'Anits'

In [11]:
#find whether leap year or not
def isleapyear(y):
    if(y%4==0 and y%100!=0)or(y%400==0):
        print("leap year")
    else:
        print("false")
n=int(input())
isleapyear(n)

2019
false

In [12]:
# print nanoseconds of the year,consider leap year(366 days) or else 365 days
def nano(y):
    if((isleapyear(y))):
        print("leap year")
        return 366*24*60*60*(10**(9))
    else:
        return 365*24*60*60*(10**(9))
n=int(input())
nano(n)

2019
false

31536000000000000

In [23]:
#prime number or not:
def prime(n):
    if n==2:
        return True;
    else:
        for i in range(2,n):
            if(n%i==0):
                return False
            else:
                return True   
m=int(input())
prime(m)

5

True

In [30]:
#print prime numbers in the given range:
def rangeofprime(l,u):
    if(u>=2 or l<=2):
        print(2,end=" ")
    for i in range(l,u):
        for j in range(2,i):
            if(i%j==0):
                break
            if(j==i-1):
                print(i,end=" ")  
l=int(input("lower"))
u=int(input("upper"))
rangeofprime(l,u)

lower1
upper10
2 3 5 7

In [35]:
def rangeprime(r):
    count=0
    i=2
    while count<=r-1:
        if (i==2):
            count+=1
            if (count<=r):
                print(i,end=" ")
                i+=1
        for j in range(2,i):
            if(i%j==0):
                break
            if(j==i-1):
                count+=1
                if count<=r:
                    print(i,end=" ") 
        i+=1
r=int(input("range")) 
rangeprime(r)

range30
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113

# *Regular Expressions*

In [40]:
#^[9][1]][6-9][0-9]{9}$|[6-9][0-9]{9}|^[0][6-9][0-9]{9}
import re
i=int(input())
p = '^[9][1]][6-9][0-9]{9}$|[6-9][0-9]{9}|^[0][6-9][0-9]{9}'
if(re.match(p,str(i))):
    print("Valid Number")
else:
    print("Not Valid")

8464051539
Valid Number

In [3]:
#write the regex code for email validation
import re
i=input()
p='^[a-z.@_0-9]{6,30}$'
if(re.match(p,str(i))):
    print("valid")
else:
    print("invalid")

123
invalid

In [42]:
import re
p="this is anits college .Python is the workshop"
if(re.search('Python',p)):
    print('find')
else:
    print('Not Avalilable')

find

# *Data structures in python*

```
similar to collection simply call it as  iterators
    .list
    .tuple
    .set and
    .dictionary
```

# *Lists:*
```
    -collection of heterogeneous(different) type of data elements
    -it can be defined as [] and can be typecasted by list()method
    -it can change the value, slicing is done due to index
    -ordered format of data because of index
```

In [4]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
p=[2,5,6,12,1,13]
print(type(p))
print(p)
print(p[3])
print(p[2:5])
print(p[1:4:-1])
print(p[1:4:1])
print(p[4:1:-1])
print(p[-1:-4:-1])
print(p[-1:-4:1])

<class 'list'>
[2, 5, 6, 12, 1, 13]
12
[6, 12, 1]
[]
[5, 6, 12]
[1, 12, 6]
[13, 1, 12]
[]

In [1]:
p=[2,5,6,12,1,13]
k=p.copy() 
print(k)
print(p)
p.append(int(100))
print(p)
p.count(13)
c=list(k.extend(p))
print(c)
print(p)
print(k)

[2, 5, 6, 12, 1, 13]
[2, 5, 6, 12, 1, 13]
[2, 5, 6, 12, 1, 13, 100]

TypeError: 'NoneType' object is not iterable

In [2]:
print(p)
print(p.index(100))
p.insert(0,1)
print(p)
p.insert(8,99)
print(p)
p.pop(5)  # pop(index)  #pop()-->last element of list will be poped
print(p)
p.remove(99)   # remove(value)
print(p)

[2, 5, 6, 12, 1, 13, 100]
6
[1, 2, 5, 6, 12, 1, 13, 100]
[1, 2, 5, 6, 12, 1, 13, 100, 99]
[1, 2, 5, 6, 12, 13, 100, 99]
[1, 2, 5, 6, 12, 13, 100]

In [3]:
print(p)
p.sort()   #ascending
print(p)

[1, 2, 5, 6, 12, 13, 100]
[1, 2, 5, 6, 12, 13, 100]

In [4]:
print(p)
p.sort(reverse=True)   #descending
print(p)

[1, 2, 5, 6, 12, 13, 100]
[100, 13, 12, 6, 5, 2, 1]

In [5]:
p=[1,2,3,4,5]
print(p)
p.clear()
print(p)

[1, 2, 3, 4, 5]
[]

In [6]:
s="23 24 56 23 56 raju kiran"
s=s.split(" ")
print(s)

['23', '24', '56', '23', '56', 'raju', 'kiran']

In [9]:
n=[23,345,'raju',34,'kiran']
for i in n:       #for i in range(len(n)):
    if(str(i).isdigit()):      #if(str[i].isdigit()):
        prin
t(i,end=" ")           #print(i,end=" ")

23 345 34

In [12]:
n=input().split()
print(n)
no1 =[]

st1 =[]
for i in n:
    if(str(i).isdigit()):
        no1.
append(int(i))
    else:
        st1.append(i)
no1.sort()
print(no1)
print(st1)

12 34 56 78 pari anu
['12', '34', '56', '78', 'pari', 'anu']
[12, 34, 56, 78]
['pari', 'anu']

# *Tuple:*
```
    -Collection of heterogenous data elements
    -It can be defined as() and typecasting as tuple()
    -It cant be change the value ,Slicing can be done
    -Based on index the slicing is done and it is also ordered data
```

In [13]:
d=(23,34,34.00,'kiran')
d

(23, 34, 34.0, 'kiran')

In [16]:
print(d)
print(type(d))
print(d[2])
print(d[1:5])
print(d[0:3:1])

(23, 34, 34.0, 'kiran')
<class 'tuple'>
34.0
(34, 34.0, 'kiran')
(23, 34, 34.0)

In [17]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [26]:
print(d.count(34.00))     #prints the no.of time it is repeated
print(d.index(34.00))     ##returns index value

2
1

In [30]:
p=[1,2,3.5,3,3.0,4,5,6]
t=[564,141,566,66.5,66,66.0]
print(p.index(3))
print(t.index(66))

3
4

# *Sets:*
```
    -Collection of heterogenous data elements
    -It can be defined as {} and typecaste as set()
    -It can change the value but it doesnt support the slicing
    -Unordered Format data ,index is not available
    -Removes dubligate elements
```

In [36]:
g={34,34,34,34,34,34,34,34,34,34,34,34,34,3434,34,34,34,3434,34,34.567,'anu',23,'pari'}
print(g)      #It doesnot allows dublicate values

{34, 34.567, 3434, 'pari', 'anu', 23}

In [37]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [38]:
h={1,2,3,4,5}
g.add(56)
print(g)

{34, 34.567, 3434, 'pari', 'anu', 23, 56}